<nav class="navbar fixed-top navbar-expand-xl navbar-dark bg-dark">
  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav mx-md-auto">
      <li class="nav-item ">
        <a class="nav-link " [routerLink]="['/push-notifications']" routerLinkActive="active">Push Notification <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/geolocation']" routerLinkActive="active">Geolocation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/camera']" routerLinkActive="active">Camera</a>
      </li>
    </ul>
  </div>
</nav>